## Build generated
*.DS_Store
.build/
xcuserdata/
build/

## Secrets
ChimesSecrets/**

## API
ChimesAPI/**
Chimes/Info.plist
Chimes/Info.plist
Chimes/ChimesSecrets/GoogleService-Info.plist
/Chimes/ChimesSecrets
*.plist
